header,
nav a,
footer,
body {
  background-color: #1d1d1d;
  color: white;
}

header .nav-item {
  display: block;
  text-decoration: none;
}

h1,h5 {
  padding: 1.5rem;
  margin: 0;
}

header .identificacion {
position: relative;
left: 4rem;
}

nav > a.identificacion{
  color : #B8860B;
  text-decoration: none;
}

.nav-item:hover,
footer a:hover {
  color:#1d1d1d;
  background: white;
}

.nav-item.identificacion:hover {
  color: white;
  background: #B8860B;
}

.main {
  padding: 2rem;
}

.intro,
.novedad {
  border: 2px solid #B8860B;
  padding: 1.3rem;
}

.disco,
.conciertos,
.acciones,
.pedido
 {
  background-color: #1d1d1d;
  border: 5px solid #B8860B;
  padding-bottom: 1.3rem;
  margin-bottom: 2.5rem !important;
}

.acciones {
  padding:1rem 2rem;
}

.cancion_editar {
  padding: 1.2rem 0;
  border-top: 1px solid #B8860B;
}

.disco h4,
.disco p,
.conciertos p,
.acciones h5,
.records h2 {
    padding: 0.8rem;
    margin: 0;
    color: white;
}

button:hover {
  background: #B8860B;
  color: white;
}


.disco p {
  font-size: 1.1rem;
}

.disco .anio {
  font-size: 1.25em;
}

.caratula > img {
  width: 100%;
}

.disco .lista-canciones,
.disco {
  padding: 0 3% 0 3%;
}
.disco .submit {
  margin-top: 1.5rem;
}

.cancion .nombre p{
 font-size: 1.6rem;
}

.cancion .duracion p{
  font-size: 1.2rem;
 }

.conciertos .row:first-child
 {
  font-weight: bold;
}

.conciertos .col ,
#records td,
#records th,
.db th,
.db td{
  border-bottom: 2px solid #B8860B;
  padding-bottom: 1.5rem;
}

#records td {
  padding: 1rem 1.5rem;
}



.conciertos .row:last-child .col {
  border-bottom: none;
  padding-bottom: 0;
}

.buscador{
  padding:1.6rem;
}
.buscador > input {
  background: white;
  color: black;
  box-shadow: 0 0 1.6rem #B8860B;
}


#bio p {
  text-align: center;
}

#bio img {
  padding: 1.5rem;
}

.db a {
  text-decoration: none;
  color: #B8860B;
}

blockquote{
  color: #B8860B;
  font-weight: bold;
}



footer {
  height: 6rem;
}

footer a {
  color:white;
  text-decoration: none;
}
