.disco,
.conciertos {
  background-color: #1d1d1d;
  border: 5px solid #B8860B;
  padding-bottom: 1.5rem;
}

.disco h4,
.disco p,
.conciertos p {
    padding: 1rem;
    margin: 0;
    color: white;
}

.disco .anio {
  font-size: 1.25em;
}

.caratula > img {
  width: 100%;
}

.disco .lista-canciones,
.disco .caratula {
  padding-left: 3%;
}
.disco .submit {
  margin-top: 1.5rem;
}



.row:first-child  {
  font-weight: bold;
}

.col {
  border-bottom: 2px solid #B8860B;
  padding-bottom: 1.5rem;
}

.row:last-child .col {
  border-bottom: none;
  padding-bottom: 0;
}
